---
- name: ensure database for owncloud exists
  mysql_db:
    name: "{{ owncloud_database_name }}"
    encoding: utf8
    collation: utf8_general_ci
  register: owncloud_database

- name: ensure database user for owncloud exists
  mysql_user:
    name: "{{ owncloud_database_username }}"
    host: localhost
    password: "{{ owncloud_database_password }}"
    priv: "{{ owncloud_database_name }}.*:ALL"

- name: check database backup file
  stat:
    path: "{{ owncloud_restore_database }}"
  register: owncloud_database_backup_file
  when: owncloud_restore_database

- name: import owncloud database from backup
  mysql_db:
    name: "{{ owncloud_database_name }}"
    state: import
    target: "{{ owncloud_restore_database }}"
  when: "owncloud_database|changed and owncloud_restore_database and owncloud_database_backup_file.stat.exists"
